<ion-header class="ion-franja">
    <ion-toolbar color="primary">
        <ion-title>Disponibilidad</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
        <form [formGroup]="form" (ngSubmit)="confirmarCita()">
            <h3>Seleccionar fecha:</h3>
            <ion-datetime formControlName="fecha" presentation="date"></ion-datetime>

            <h3 class="ion-margin-top">Seleccionar periodo:</h3>
            <ion-list>
                <ion-radio-group formControlName="hora">
                    <ion-item *ngFor="let hora of horasDisponibles">
                        <ion-label>{{ hora }}</ion-label>
                        <ion-radio slot="start" [value]="hora"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>

            <h3 class="ion-margin-top">Tipo de servicio:</h3>
            <ion-select placeholder="Seleccione servicio" formControlName="servicio">
                <ion-select-option *ngFor="let s of servicios" [value]="s">{{ s }}</ion-select-option>
            </ion-select>
        </form>
    </ion-content>