<div class="container" style="
    height: 100vh;
    overflow-y: scroll;
">
  <div class="top-bar">
    <button class="back-button" (click)="volver()">←</button>
    <h2>Servicios</h2>
  </div>

  <div class="lista">
    <div class="servicio" *ngFor="let s of servicios">
      <div class="info">
        <div>
          <h3>{{ s.nombre }}</h3>
          <p>{{ s.descripcion }}</p>
        </div>
        <div class="icono">💈</div>
      </div>
      <div class="precio">
        ${{ s.categoriaServicio?.precio | number: '1.0-0' }} COP
      </div>
    </div>

  </div>

  <button class="nuevo-btn" (click)="crearNuevoServicio()">nuevo servicio</button>
</div>