<ion-content class="login-container" [style.backgroundColor]="'#ffffff'">
  <div class="logo">
    <img src="https://raw.githubusercontent.com/omareiza2023/Semestre-2025-A/refs/heads/feature/HU-02/recursos-adicionales/3.png" alt="Golden Barbershop">
  </div>

<ion-item>
    <ion-input 
      placeholder="e-mail" 
      [(ngModel)]="username" 
      name="username"
      type="email"
      fill="outline"
      label="Correo">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input 
      type="password" 
      placeholder="contraseña" 
      [(ngModel)]="password" 
      name="password"
      fill="outline"
      label="Contraseña">
    </ion-input>
  </ion-item>

  <ion-button 
    expand="block" 
    color="primary" 
    (click)="login()">
    Iniciar sesión
  </ion-button>

  <ion-button 
    expand="block" 
    fill="clear" 
    color="medium" 
    (click)="salir()">
    ¿No tienes cuenta? Regístrate
  </ion-button>

  <div *ngIf="errorMessage" class="error-message">
    <ion-text color="danger">{{ errorMessage }}</ion-text>
  </div>
</ion-content>

