ion-header {
  background-color: #3880ff;
  color: white;
}

ion-toolbar {
  --background: #3880ff;
}

h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}

ion-item {
  margin-top: 20px;
}

ion-button {
  margin-top: 20px;
}